#heading{
    color: blue;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 3px solid #A3786E;
    border-radius: 8px;
    height: 60px;
}

.navItems > ul{
    display: flex;
    list-style: none;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.navItems > ul > li {
    cursor: pointer;
}

.FilterContainer{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 20px
}

.TopRatedBTN{
    margin-right: 20px;
    margin-left: 10px;
    border: 1px solid #A3786E;
    border-radius: 25px;
    width: 200px;
    height: 30px;
}

.RestroCard{
    border: 1px solid #A3786E;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 6px;
    background-color: #d4cece67;
}

.RestroCard:hover{
    cursor: pointer;
    border: 2px solid #d85d5d;
}

.resContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.restroBanner{
    width: 100%;
    height: 200px;
}

.optionsContainer {
    display: flex;
    justify-content: space-evenly; /* evenly distributes items */
    align-items: center;
    gap: 20px; /* consistent spacing */
    padding: 10px;
}

.Options {
    height: 150px;
    width: 130px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.Options:hover {
    transform: scale(1.05); /* optional: add a subtle hover effect */
}

.Cuisine-choices {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.Cuisine-choices {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 30px;
}

.Restrocard{
    padding: 5px;
    margin: 5px;
    width: 200px;
    background-color: #f0f0f0;
}

.Restrocard:hover{
    border: 1px solid black;
    cursor: pointer;
}

.RestroLogo {
    width: 190px;
    padding: 5px;
}

.restro-Container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* card width min 200px */
    gap: 20px;
    padding: 20px;
}

.search {
    padding: 20px;
}

.bottom-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* card width min 200px */
    gap: 20px;
    padding: 20px;
}

.shimmer-card{
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border: #111;
}

.login{
    border-radius: 25px;
    border: 1px solid #A3786E;
}

.SeachtextBox{
    border: 1px solid #A3786E;
    border-radius: 25px;
    width: 400px;
    height: 30px;
    padding-left: 20px;
}

.SearchBar{
    display: flex;
    align-items: center;      
    justify-content: center;
}

.SearchButton {
    margin-left: 10px;
    border: 1px solid #A3786E;
    border-radius: 25px;
    width: 70px;
    height: 25px;
    
}

.userCard{
    border: 1px solid #A3786E;
    border-radius: 25px; 
    width: 300px;
    margin: 20px;
    padding: 20px;
}