#heading{
    color: blue;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 3px solid #A3786E;
    border-radius: 8px;
}

.navItems > ul{
    display: flex;
    list-style: none;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.navItems > ul > li {
    cursor: pointer;
}

.searchBar{
    border: 1px solid #A3786E;
    border-radius: 25px;
    width: 400px;
    height: 30px;

    display: flex;
    align-items: center;      
    justify-content: center;
}